!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
  script
    var host = '#{ host }'
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/socket_handlers.js')
